:root {
  --line-border-fill: white;
  --line-border-empty: #4a47ff;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #f6f7fb;
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  background-image: url("https://images.unsplash.com/photo-1653398615155-aecb61350afc?ixlib=rb-1.2.1&raw_url=true&q=80&fm=jpg&crop=entropy&cs=tinysrgb&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2148");
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  text-align: center;
}

.title {
  font-size: 40px;
  color: var(--line-border-empty);
  text-shadow: 1px 1px 2px var(--line-border-empty);
}

.progress-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 30px;
  max-width: 100%;
  width: 350px;
}

.progress::before {
  content: "";
  background-color: var(--line-border-fill);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 100%;
  z-index: -1;
}

.progress {
  background-color: var(--line-border-fill);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 7px;
  width: 0%;
  z-index: -1;
  transition: 0.4s ease;
}

.circle {
  background-color: white;
  color: #999;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 7px solid var(--line-border-empty);
  transition: 0.4s ease;
  color: white;
  background-color: var(--line-border-empty);
}

.circle.active {
  border-color: var(--line-border-fill);
}

.btn {
  background-color: var(--line-border-fill);
  color: var(--line-border-empty);
  border: 0;
  border-radius: 6px;
  cursor: pointer;
  font-family: inherit;
  padding: 8px 30px;
  margin: 5px;
  font-size: 14px;
  text-decoration: solid;
  text-transform: uppercase;
}

.btn:hover {
  background-color: var(--line-border-empty);
  color: #fff;
}

.btn:active {
  transform: scale(0.98);
}

.btn:focus {
  outline: 0;
}

.btn:disabled {
  background-color: var(--line-border-empty);
  cursor: not-allowed;
}
